<html lang="en">

<head>
  <title>Weather App</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="images/weather.png">
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <div class='main-content'>
    {{>header}}
    <p>This is Weather Search Application.</p>

    <form>
      <input placeholder="Enter Location">
      <button>Search</button>
      <p id='message-1'></p>
      <p id='message-2'></p>
    </form>

  </div>
  {{>footer}}
  <script src="./js/index.js"></script>
</body>

</html>